.lang-switch-box {
  position: fixed;
  z-index: 30000;
  right: 0;
  top: 300px;
  transform: translateY(-50%);
  background-color: #67696b;
  height: 40px;
  width: 50px;
  padding-top: 5px;
  padding-left: 10px;
  border-radius: 30px 0 0 30px;
}
.lang-switch-box:hover {
  scale: 1.1;
  transition: 0.3s;
}
.lang-switch-box .switch {
  position: relative;
  display: inline-block;
  width: 35px;
  height: 30px;
}

.lang-switch-box .switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.lang-switch-box .slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #4d4949;
  transition: 0.4s;
}

.lang-switch-box .slider:before {
  position: absolute;
  content: "";
  height: 30px;
  width: 30px;
  left: 2.5px;
  bottom: 4px;
  top: 0;
  margin: auto 0;
  transition: 0.4s;
  box-shadow: 0 0px 15px #2020203d;
  background: url(../../assets/img/Lang/EG.png);
  background-repeat: no-repeat;
  background-position: center;
}

.lang-switch-box input:checked + .slider {
  background-color: #cbc1c1;
}

.lang-switch-box input:focus + .slider {
  background-color: #4d4949;
}

.lang-switch-box input:checked + .slider:before {
  transform: translateX(0);
  background: url(../../assets/img/Lang/UK.png);
  background-repeat: no-repeat;
  background-position: center;
}

.lang-switch-box .slider.round {
  border-radius: 50px;
}

.lang-switch-box .slider.round:before {
  border-radius: 50%;
}
